<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{{ .Title }}</title>
{{ partial "stylesheet" . }}
</head>
<body>
  <header>
    <div class="wrapper">
      {{ block "header" . }}
        {{ partial "header" . }}
      {{ end }}
    </div>
  </header>

  <div id="container">
    <aside>
      {{ partial "gnav" . }}
    </aside>

    <main>
      <div id="content">
        {{ block "main" . }} {{ end }}
      </div>
    </main>
  </div>

  <footer>
    <div class="wrapper">
      {{ block "footer" . }}
        {{ partial "footer" . }}
      {{ end }}
    </div>
  </footer>

  {{ partial "javascript" . }}
</body>
</html>
