@charset "utf-8"

*,
*::before,
*::after
  box-sizing: border-box

body,
h1,h2,h3,h4,h5,h6,
p,
dl,
ul,
ol,
dl dt,
dl dd,
ul li,
ol li,
table
  margin: 0
  padding: 0

body,
h1,h2,h3,h4,h5,h6,
p,
dl,
ul,
ol,
table
  margin-top: 2rem

ul li,
ol li,
dl dt,
dl dd
  margin-left: 2rem

h1
  font-size: 2.5rem

h2
  font-size: 2rem
  background-color: #ffeded
  padding: .5rem

h3
  font-size: 1.5rem
  border-bottom: 2px dashed #ccc
  padding: .5rem

h4
  font-size: 1.5rem

h5
  font-size: 1rem

h6
  font-size: .85rem

hr
  border: none
  height: 1px
  background-color: black
  margin: 0
  padding: 0
  display: block
  clear: both


table,
table tr th,
table tr td
  border-collapse: collapse
  border: 1px solid #ddd

table
  width: 100%
  tr
    th, td
      background-color: #ffe
      text-align: left
      padding: .5rem
      text-align: left
      padding: .5rem
    th
      width: 20%
    td
      background-color: white

#container
  margin: 1rem

header,
main,
footer
  margin: 2rem 10rem

.templabel
  color: white

.baseoftype
  background-color: purple
  color: white

.listtype
  background-color: lime

.singletype
  background-color: magenta

dl
  dt
    font-weight: bold

p#cpright
  text-align: center
