<nav>
  <ul>
    {{ with .Site.Home }}
      <li><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
    {{ end }}
        {{ if gt (.Site.RegularPages | len) 0 }}
          <ul>
          {{ range .Site.RegularPages.ByWeight }}
            {{ if .Parent.IsHome }}
              <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          {{ end }}
          </ul>
        {{ end }}
      </li>

    {{ range .Site.Sections }}
      <li><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
      {{ if gt (.Pages | len) 0 }}
        <ul>
          {{ range .Pages }}
            <li><a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a></li>
          {{ end }}
        </ul>
      {{ end }}
      </li>
    {{ end }}
  </ul>
</nav>
