{{ $lists := (dict "Permalink" .Permalink  "RelPermalink" .RelPermalink "URL" .URL "Type" .Type "Kind" .Kind "IsPage" .IsPage "IsNode" .IsNode "Section" .Section "IsHome" .IsHome) }}

<div class="column">
  <h3 id="information">Information</h3>
  <table>
    {{ range $k, $v := $lists }}
    <tr>
      <th>{{ $k }}</th>
      <td>{{ $v }}</td>
    </tr>
    {{ end }}

    {{ range $k, $v := .Resources }}
    <tr>
      <th>{{ $k }}</th>
      <td>{{ $v }}</td>
    </tr>
    {{ end }}
  </table>
  <p>Recources: {{ .Resources | len }}</p>
</div>
